##########################
## Git ignore:
## .files from home dir
## settings and such
##########################

# Ignore everything
/*
/*/

# But not these files...
!.bashrc
!.gitconfig
!.gitignore
!.profile
!README.md
!.screenrc
!.tmux.conf
!.vimrc


# And these directories...
!/mac/
!/scripts/
!/.vim/


# Only include the Vundle bundle
/.vim/bundle/
!/.vim/bundle/vundle/

