##########################
## Git ignore:
## .files from home dir
## settings and such
##########################

# Ignore everything
/*
/*/

# But not these files...
!.bashrc
!.gitconfig
!.gitignore
!.profile
!README.md
!.screenrc
!.tmux.conf
!.vimrc
!.zshrc
!cheatsheet

# And these directories...
!/bin/
!/.fonts/
!/.config/fontconfig/conf.d
!.config/powerline
!/mac/
!/scripts/
!/.vim/swap
!/.vim/backup

# Only include the Vundle bundle
!/.vim/bundle/Vundle.vim/

